<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <title>Free Rest API</title>
  </head>
  <body>
  
  <div class="content">
  <div class="container">
  <h2 class="ANU">Free Rest API</h2>
  <div class="table-Amsu">

    <table class="Anu-table">
      <thead>

      <tr>  
        <th scope="col">No</th>
        <th scope="col">Feature</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">METHOD</th>
        <th scope="col">Parameter</th>
        <th scope="col">ACTIONS</th>
      </tr>
        </thead>
          <tbody>
            <tr scope="row">  
              <td>1</td>
              <td><a href="/downloader/tiktok?link=https://vm.tiktok.com/ZSJcLPNpe/">Tikok</a></td>
              <td>Tiktok Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/tiktok?link=https://vm.tiktok.com/ZSJcLPNpe/" class="more">Details</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="/downloader/igdl?link=https://www.instagram.com/p/CTEDAEbpE4A/?utm_source=ig_web_copy_link">Instagram</a></td>
              <td>Instagram Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/igdl?link=https://www.instagram.com/p/CTEDAEbpE4A/?utm_source=ig_web_copy_link" class="more">Details</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="/downloader/youtube?link=https://www.youtube.com/watch?v=0CNEdIZtkfw">Instagram</a></td>
              <td>Instagram Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/youtube?link=https://www.youtube.com/watch?v=0CNEdIZtkfw" class="more">Details</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href="/downloader/twitter?link=https://twitter.com/PassengersMovie/status/821025484150423557">Instagram</a></td>
              <td>Instagram Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/twitter?link=https://twitter.com/PassengersMovie/status/821025484150423557" class="more">Details</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href="/downloader/mediafireDl?link=https://www.mediafire.com/file/pwxob70rpgma9lz/GBWhatsApp_v8.75%2528Tutorial_Yud%2529.apk/file">MediaFire</a></td>
              <td>Get detail and alternative download link</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/mediafireDl?link=https://www.mediafire.com/file/pwxob70rpgma9lz/GBWhatsApp_v8.75%2528Tutorial_Yud%2529.apk/file" class="more">Details</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td><a href="/search/pinterest?query=anime">Pinterest</a></td>
              <td>Search Image from Pinterest</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/search/pinterest?query=anime" class="more">Details</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href="/search/google?query=anime">Google</a></td>
              <td>Search Information from Google</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/search/google?query=anime" class="more">Details</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td><a href="/randomimg/milf">Milf</a></td>
              <td>Random Milf Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/milf" class="more">Details</a></td>
            </tr>
            <tr>
              <td>9</td>
              <td><a href="/randomimg/waifu">Waifu</a></td>
              <td>Random Waifu Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="#/randomimg/waifu" class="more">Details</a></td>
            </tr>  
            <tr>
              <td>10</td>
              <td><a href="/randomimg/husbu">Husbu</a></td>
              <td>Random Husbu Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/husbu" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>11</td>
              <td><a href="/randomimg/loli">Loli</a></td>
              <td>Random Loli Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/loli" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>12</td>
              <td><a href="/randomimg/cosplay">Cosplay</a></td>
              <td>Random Cosplay Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/cosplay" class="more">Details</a></td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>
</html>
