<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <title>Free Rest API</title>
  </head>
  <body>
  
  <div class="content">
  <div class="container">
  <h2 class="ANU">Free Rest API</h2>
  <div class="table-Amsu">

    <table class="Anu-table">
      <thead>

      <tr>  
        <th scope="col">No</th>
        <th scope="col">Feature</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">METHOD</th>
        <th scope="col">Parameter</th>
        <th scope="col">ACTIONS</th>
      </tr>
        </thead>
          <tbody>
            <tr scope="row">  
              <td>1</td>
              <td><a href="/downloader/tiktok?link=https://vm.tiktok.com/ZSJcLPNpe/">Tikok</a></td>
              <td>Tiktok Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/tiktok?link=https://vm.tiktok.com/ZSJcLPNpe/" class="more">Details</a></td>
            </tr>
            <tr scope="row">  
              <td>2</td>
              <td><a href="/downloader/tiktoknowm?link=https://vm.tiktok.com/ZSJcLPNpe">Tikok</a></td>
              <td>Tiktok (No Watermark)</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/tiktoknowm?link=https://vm.tiktok.com/ZSJcLPNpe" class="more">Details</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="/downloader/igdl?link=https://www.instagram.com/p/CTEDAEbpE4A/?utm_source=ig_web_copy_link">Instagram</a></td>
              <td>Instagram Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/igdl?link=https://www.instagram.com/p/CTEDAEbpE4A/?utm_source=ig_web_copy_link" class="more">Details</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href="/downloader/youtube?link=https://www.youtube.com/watch?v=0CNEdIZtkfw">Youtube</a></td>
              <td>Youtube Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/youtube?link=https://www.youtube.com/watch?v=0CNEdIZtkfw" class="more">Details</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href="/downloader/twitter?link=https://twitter.com/PassengersMovie/status/821025484150423557">Twitter</a></td>
              <td>Twitter Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/twitter?link=https://twitter.com/PassengersMovie/status/821025484150423557" class="more">Details</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td><a href="/downloader/pindl?link=https://id.pinterest.com/pin/361906520063070744">Pinterest</a></td>
              <td>Pinterest Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/pindl?link=https://id.pinterest.com/pin/361906520063070744" class="more">Details</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href="/downloader/scdl?link=https://soundcloud.com/user-943750457/jang-ganggu-shine-of-black">Soundcloud</a></td>
              <td>Soundcloud Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/scdl?link=https://soundcloud.com/user-943750457/jang-ganggu-shine-of-black" class="more">Details</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td><a href="/downloader/sfiledl?link=http://www.solidfiles.com/v/zdpVXjvRk8yaV">SolidFiles</a></td>
              <td>SolidFiles Downloader</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/sfiledl?link=http://www.solidfiles.com/v/zdpVXjvRk8yaV" class="more">Details</a></td>
            </tr>
            <tr>
              <td>9</td>
              <td><a href="/downloader/mediafireDl?link=https://www.mediafire.com/file/pwxob70rpgma9lz/GBWhatsApp_v8.75%2528Tutorial_Yud%2529.apk/file">MediaFire</a></td>
              <td>Get detail and alternative download link</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/mediafireDl?link=https://www.mediafire.com/file/pwxob70rpgma9lz/GBWhatsApp_v8.75%2528Tutorial_Yud%2529.apk/file" class="more">Details</a></td>
            </tr>
            <tr>
              <td>10</td>
              <td><a href="/downloader/stickerpack?link=https://getstickerpack.com/stickers/pentol-7">Sticker Pack</a></td>
              <td>Download Sticker From getstickerpack</td>
              <td>GET</td>
              <td>URL</td>
              <td><a href="/downloader/stickerpack?link=https://getstickerpack.com/stickers/pentol-7" class="more">Details</a></td>
            </tr>
            <tr>
              <td>11</td>
              <td><a href="/search/pinterest?query=anime">Pinterest</a></td>
              <td>Search Image from Pinterest</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/search/pinterest?query=anime" class="more">Details</a></td>
            </tr>
            <tr>
              <td>12</td>
              <td><a href="/search/konachan?query=azur_lane">Zerochan</a></td>
              <td>Search Image from zerochan.net</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/search/konachan?query=azur_lane" class="more">Details</a></td>
            </tr>
            <tr>
              <td>13</td>
              <td><a href="/search/sticker?query=pentol">Sticker pack</a></td>
              <td>Search Sticker from getstickerpack.com</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/search/sticker?query=pentol" class="more">Details</a></td>
            </tr>
            <tr>
              <td>14</td>
              <td><a href="/search/google?query=anime">Google</a></td>
              <td>Search Information from Google</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/search/google?query=anime" class="more">Details</a></td>
            </tr>
            <tr>
              <td>15</td>
              <td><a href="/search/tiktok?query=anime">Tiktok Search</a></td>
              <td>Search Video from Tiktok</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/search/tiktok?query=anime" class="more">Details</a></td>
            </tr>
            <tr>
              <td>16</td>
              <td><a href="/primbon/artinama?nama=arya">Artinama</a></td>
              <td>Primbon artinama</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/primbon/artinama?nama=arya" class="more">Details</a></td>
            </tr>
            <tr>
              <td>17</td>
              <td><a href="/primbon/ramalanjodoh?nama=arya&pasangan=maysha">Ramalan jodoh</a></td>
              <td>Search Video from Tiktok</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/primbon/ramalanjodoh?nama=arya&pasangan=maysha" class="more">Details</a></td>
            </tr>
            <tr>
              <td>18</td>
              <td><a href="/randomimg/milf">Milf</a></td>
              <td>Random Milf Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/milf" class="more">Details</a></td>
            </tr>
            <tr>
              <td>19</td>
              <td><a href="/randomimg/waifu">Waifu</a></td>
              <td>Random Waifu Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="#/randomimg/waifu" class="more">Details</a></td>
            </tr>  
            <tr>
              <td>20</td>
              <td><a href="/randomimg/husbu">Husbu</a></td>
              <td>Random Husbu Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/husbu" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>21</td>
              <td><a href="/randomimg/loli">Loli</a></td>
              <td>Random Loli Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/loli" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>22</td>
              <td><a href="/randomimg/cosplay">Cosplay</a></td>
              <td>Random Cosplay Image</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/randomimg/cosplay" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>23</td>
              <td><a href="/nsfw/nHentaiSearch?query=miku">Nhentai</a></td>
              <td>Nhentai Search</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/nsfw/nHentaiSearch?query=miku" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>24</td>
              <td><a href="/nsfw/nHentai?code=212121">Nhentai</a></td>
              <td>Nhentai Details</td>
              <td>GET</td>
              <td>code</td>
              <td><a href="/nsfw/nHentai?code=212121" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>25</td>
              <td><a href="/nsfw/nhentaipdf?code=212121">Nhentai PDF</a></td>
              <td>Get pdf file from nhentai ( NSFW )</td>
              <td>GET</td>
              <td>code</td>
              <td><a href="/nsfw/nhentaipdf?code=212121" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>26</td>
              <td><a href="/nsfw/doujindesuSearch?query=shota">DoujinDesu</a></td>
              <td>Doujin Desu Search</td>
              <td>GET</td>
              <td>query</td>
              <td><a href="/nsfw/doujindesuSearch?query=shota" class="more">Details</a></td>
            </tr> 
            <tr>
              <td>27</td>
              <td><a href="/games/tebakgambar">Tebakgambar</a></td>
              <td>Get random Tebakgambar</td>
              <td>GET</td>
              <td>-</td>
              <td><a href="/games/tebakgambar" class="more">Details</a></td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>
</html>
