body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #3c373e;
  font-weight: 300; }

p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.Anu-table {
  min-width: 900px; }
  .Anu-table thead tr, .Anu-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .Anu-table tbody th, .Anu-table tbody td {
    color: #777;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .Anu-table tbody th small, .Anu-table tbody td small {
      color: rgba(255, 255, 255, 0.3);
      font-weight: 300; }
    .Anu-table tbody th a, .Anu-table tbody td a {
      color: rgba(255, 255, 255, 0.3); }
    .Anu-table tbody th .more, .Anu-table tbody td .more {
      color: rgba(255, 255, 255, 0.3);
      font-size: 11px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: .2rem; }
  .Anu-table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .Anu-table tbody tr:hover td, .Anu-table tbody tr:focus td {
      color: #fff; }
      .Anu-table tbody tr:hover td a, .Anu-table tbody tr:focus td a {
        color: #fdd114; }
      .Anu-table tbody tr:hover td .more, .custom-table tbody tr:focus td .more {
        color: #fdd114; }
  .Anu-table .td-box-wrap {
    padding: 0; }
  .Anu-table .box {
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px; }
    .Anu-table .box td, .Anu-table .box th {
      border: none !important; }
